export APP_NAME="SleepRecords"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="en_US"
export APP_DEFAULT_TIMEZONE="UTC"
export SECURITY_SALT="keep_this_secret"

# Database Config matches your app_local.php
export DB_USERNAME="root"
export DB_PASSWORD=""
export DB_DATABASE="sleep_records"